@charset "utf-8";
/* CSS Document */
.muyin{width:980px; height:204px; margin-top:30px; margin-bottom:30px;}
.muyin .top{width:980px; height:39px;}
.muyin .top div{float:left;}
.muyin .top .t1{width:380px; height:39px; border-bottom:2px solid #88cc22; line-height:39px;}
.muyin .top .f{float:left;}
.muyin .top h2{font-size:20px; color:#689900; margin-right:10px;}
.muyin .top span{background:url(../image/site-icons-qyIndex.png) no-repeat -140px -1160px; width:14px; height:14px; margin:16px 5px;}
.muyin .top .gd{ color:#689900; font-size:14px; margin-right:30px; margin-top:2px;}
.muyin .top .t{color:#333336; font-size:14px; margin-top:2px;}
.muyin .top em{width: 16px;height: 26px; background: no-repeat url(../image/site-icons-qyIndex.png) -120px -1160px; margin-top: 6px; margin-right: 5px;}

.muyin .top .t2{width:380px; height:39px; border-bottom:2px solid #88cc22; margin:0 20px; line-height:39px;}

.muyin .top .t3{width:180px; height:39px; border-bottom:2px solid #88cc22; line-height:39px;}

.muyin .content-rb{width:980px; height:138px; margin-top:25px;}
.muyin .content-rb .content-r1{width:180px; height:138px; background:#f2f2f2; margin-right:20px;}
.muyin .content-rb .m{margin-right:0px;}
.muyin .content-rb .content-r1 a{font-size:13px; color:#333336; display:block; margin-top:10px; margin-left:5px;}
.muyin .content-rb .content-r1 img{width:180px; height:101px;}